@import url(reset.css);
body{
    background-color: grey;
    font-family: 'Playfair Display', serif;

}
b{font-weight: bold;}
.app{
    background-color: rgb(248, 248, 248);
    width: 1190px;
    height: 2485px;
    display: flex;
}
nav{
   width: 20%;
   
}
main{
background-color: aliceblue;
    width: 80%;
}
.letras{
display: flex;
padding: 40px 0px 10px 15px;

}
.nav{
    padding: 25px 0px 10px 15px;


}
.nav_li{
    
    display: flex;
     padding: 20px 0px 8px 0px;
     align-items: center;
}
.nav_li:hover{
background-color: grey;
padding-left: 5px;
padding-top: 4px;
border-radius: 4px;
}
.nav_li_img{
    padding-right: 16px;
}

.nav_expand{
    display: flex;
    padding: 10px 0px 0px 15px;
    padding-right: 16px;
    align-items: center;
}
.nav_expand:hover{
    background-color: grey;
    padding-left: 10px;
   padding-bottom: 5px;
    border-radius: 4px;
}
.profile{
    display: flex;
    padding-top: 73px;
    padding-bottom: 44px;
}
.profile_picture{

padding-left: 71px ;
padding-right: 101px;
}
header{
    display: flex;
    flex-direction: column;
}
.header{
display: flex;
align-items: start;
text-align: center;
}
.follow_button{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 21px;
    margin-left: 20px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 0.686);
    color: white;
    font-size: 11px;
    border: none;
       
}
.tres{
    padding-top: 20px;
}
.follow_button:hover {color: black;
background-color:rgba(56, 89, 238, 0.8);
transform: scale(0.95);
cursor: pointer;
}
.padding{
    padding-right: 50px;
}
.paddingtop{padding-top: 10px;}
.historias{
    display: flex;
    flex-direction: row;
    border-bottom: solid rgb(222, 222, 222) 2px;
    padding-bottom: 60px;
}
.historia{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 69px;
   
}
.paginas{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.change{
    text-align: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    font-size: small;
}
.change img{
vertical-align: bottom;
padding-right: 10px;
}
.change a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
.change:hover{
    border-top: solid;
}
.galeria{
    display: flex;
    flex-direction: row;
    
}
.publicacion{

position: relative;
height: 293px;
width: 293px;
padding-right: 28px;
padding-bottom: 28px;
}
.mini {
    position: absolute;
    
}
.especial{
   position: absolute;
   z-index: 1;
   padding: 15px 15px 0px 249px;
   
}
.footer{
     height: 68px;
    width: 662px;
    margin-left: 50px;
    color: rgba(132, 128, 128, 0.516);
  }
footer p{padding-bottom: 25px;}
.down span{
   
     padding-left: 20px; 
}
.up span{
    padding: 1px 0px 12px 19.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pad{
   
}
